.carrera-grado {
    padding-top: 90px;
}

.gradoh3 {
    text-align: center;
color: #212121;


}

.gradoh1 {
    text-align: center;
    color:  #212ea0;
    margin-bottom: 20px;
    margin-top: 50px;
}


.info-grado{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: sticky
}

.info-grado button {
    padding: 10px 20px;
    border: none;
    background-color: #0056b3;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.info-grado button :hover {
    background-color: #003d7a;
}

.info-grado ul li {
    color: #212121;
    display: list-item;
    z-index: inherit;
}

.info-grado button p{
    color: #212121;
    display: list-item;
    z-index: inherit;
}

.h3-grado{
    color: #212121;
    position: inherit;
    margin-top: 200px;
    text-align: center;
}

.primer-grado {
    margin-bottom: 15px;
    margin-top: 30px;
    border: none;
    background-color: #0056b3;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.segundo-grado{
    margin-bottom: 15px;
    margin-top: 30px;
    border: none;
    background-color: #0056b3;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    
}

.footer{
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #797979;
    padding: 15px 0;
    color:#333
}

.footer ul li{
    list-style: none;
    display: inline-block;
    margin-left: 20px;

}

/* media query */

@media (max-width: 600px) {
    .footer {
        display: block;
        text-align: center;
    }
    .footer ul li {
        margin: 10px;       
    }
    .footer ul {
        margin-top: 10px;
    }
}